<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Estatística de Setor / Data </title>
        <link
            href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap"
            rel="stylesheet"
        />
        <meta charset="utf-8" />
        <style>
            /** BASICA **/
            *,
            html {
                padding: 0;
                margin: 0;
            }
            html {
                font-family: 'Lato', Arial, sans-serif;
            }
            @media screen {
                body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #ccc;
                }
                #wrap {
                    background-color: #fff;
                    padding: 50px;
                    margin: 30px;
                    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
                }
                .orientation-retrato {
                    width: 60%;
                }
                .orientation-paisagem {
                    width: 80%;
                }
            }
            h1 {
                font-weight: 900;
                font-size: 15px;
                color: <%= color %>;
            }

            strong {
                font-weight: 700;
                font-size: 12px;
                color: #444;
            }
            p {
                font-weight: 400;
                font-size: 12px;
                color: #444;
                text-transform: capitalize;
            }
            .row {
                display: flex;
            }
            /** HEADER **/
            header {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }
            header div:first-child {
                flex: 1;
            }
            header h1 {
                text-transform: uppercase;
                margin-bottom: 3px;
            }
            header strong {
                margin-right: 3px;
                margin-bottom: 3px;
            }
            header p,
            header strong {
                font-size: 15px;
            }
            .logotipo {
                padding-left: 50px;
            }
            .logotipo img {
                max-height: 40px;
            }
            @media screen {
                .logotipo img {
                    max-height: 60px;
                }
            }
            /* CONTENT */
            @page {
                margin: 2cm;
            }
            .container {
                width: 100%;
            }

            table {
                border-collapse: collapse;
                width: 100%;
                border: none;
            }

            table tr:nth-child(even) {
                background-color: lightgrey;
            }

            tr {
                border: none;
            }

            table td:nth-child(5) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 300px;
            }

            .c-table-resumo-geral, .c-table-resumo-dia {
                font-size: 12px;
                margin-top: 10px;
            }

            .c-table-resumo-geral td {
                font-weight: 700;
            }

            caption {
                font-weight: 900;
                margin: 15px 0;
                font-size: 15px;
                text-align: left;
            }

            table th,
            table td {
                text-align: center;
                padding: 5px 10px;
                max-width: 400px;
                white-space: wrap;
            }

            .c-h3 {
                color: <%= color  %>;
                margin: 10px 0;
            }

            table th {
                margin-bottom: 10px;
                background-color: <%= color %>;
                color: white;
            }

            table td {
                font-size: 12px;
            }

            td, th {
                width: 33%;
                font-size: 12px;
            }


        </style>
    </head>

    <body>
        <div id="wrap" class="orientation-retrato page">
            <!-- HEADER -->
            <header>
                <div>
                    <h1>Estatística de Setor / Data </h1>
                    <p><strong>Período:</strong><%=start%> a <%=end%></p>
                    <p class="emissao"><strong>Emissão:</strong><%=now%></p>
                    <p class="emissao">
                        <strong>Operador:</strong><%=profile.nome%>
                    </p>
                    <p class="emissao">
                        <strong>Parte:</strong><%=data.parte%>
                    </p>
                </div>
                <div class="logotipo">
                    <img src=<%=logo%> alt="logo">
                </div>
            </header>
            <!-- HEADER -->
            <% for (const registro of data.registros) {%>
                <h3 class="c-h3"><%= registro.data%></h3>
                <% for (const setor of registro.setores) {%>
                    <table class="c-table">
                        <caption>Setor: <%=setor.id%> - <%=setor.descricao%></caption>
                        <thead>
                            <tr>
                                <th>Motivo</th>
                                <th>Exames</th>
                                <th>Percentual do Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (const motivo of setor.motivos) {%>
                                <tr>
                                    <td><%=motivo.descricao%></td>
                                    <td><%=motivo.totalDeExames%></td>
                                    <td><%=motivo.porcentagem%></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                    <%}%>
                    <table class="c-table-resumo-dia">
                        <thead>
                            <tr>
                                <th>Resumo do dia: <%=registro.data%></th>
                                <th><%= registro.total%></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
            <%}%>
            <% if (data.ehAUltimaParte === '1') {%>
                <table class="c-table-resumo-geral">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Total de Exames</th>
                            <th>Total de Pacientes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Resumo Geral da Estatística</td>
                            <td><%=data.total.totexa%></td>
                            <td><%=data.total.totpac%></td>
                        </tr>
                    </tbody>
                </table>
            <%}%>
        </div>
    </body>
</html>
