
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Estatística de Setor / Posto </title>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
		<meta charset="utf-8" />
		<style>
			/** BASICA **/
			*, html {
				padding:0;
				margin:0;
			}
			html {
				font-family: 'Lato', Arial, sans-serif;
			}
			@media screen {
				body {
					display:flex; flex-direction:column;
					align-items: center;
					background-color: #ccc;
				}
				#wrap {
					background-color: #fff;
					padding: 50px;
					margin: 30px;
					box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
				}
				.orientation-retrato{width: 60%;}
				.orientation-paisagem{width: 80%;}
			}
			h1{
				font-weight: 900;
				color: <%= color  %>;
			}

			strong {
				font-weight: 700;
				font-size: 12px;
				color: #444;
			}
			p {
				font-weight: 400;
				font-size: 12px;
				color: #444;
				text-transform: capitalize;
			}
			.row {
				display:flex;
			}
			.column {
				display:flex;
				flex-direction: column;
			}
			/** HEADER **/
			header{
				display:flex;
				align-items:center;
				margin-bottom: 20px;
			}
			header div:first-child{
				flex:1
			}
			header h1 {
				font-size: 18px;
				text-transform: uppercase;
				margin-bottom: 3px;
			}
			header strong {
				margin-right: 3px;
				margin-bottom: 3px;
			}
			header p, header strong {
				font-size:15px;
			}
			.logotipo {
				padding-left:50px
			}
			.logotipo img{max-height: 40px;}
			@media screen {
				.logotipo img{max-height: 60px;}
			}
			/* CONTENT */
			@page {
				margin: 2cm;
			}
			.container {
				width: 100%;
			}

			.c-table-coleta,
			.c-table-resumo-geral,
            .c-table-resumo-do-dia {
				width: 100%;
				border-collapse: collapse;
			}

            .c-table-resumo-geral,
            .c-table-resumo-do-dia {
                font-weight: 700;
            }

			caption {
				font-weight: 900;
				margin: 15px 0;
				font-size: 15px;
				text-align: left;
			}

            table tr:nth-child(even) {
                background-color: lightgrey;
            }

			th {
				margin-bottom: 10px;
                background-color: <%= color %>;
                color: #fff;
			}

			td {
				font-size: 12px;
			}

			.c-main__h3 {
				color: <%= color  %>;
				margin: 25px auto;
			}
			.c-table-resumo-do-dia {
				margin-bottom: 10px;
			}
			th, td {
				font-size: 12px;
				width: 20%;
                text-align: center;
				padding: 5px 10px;
			}

			.c-table-coleta th {
				font-size: 12px;
			}

			.c-main__h4 {
				margin: 10px;
			}

			.c-table-resumo-geral, .c-table-resumo-do-dia th, td {
				font-size: 12px;
			}

			.c-table-resumo-geral, .c-table-resumo-do-dia {
				margin-top: 25px;
			}

		</style>
	</head>

	<body>
        <%
			const formatter = new Intl.NumberFormat('pt-BR', {
				style: 'currency',
				currency: 'BRL',
			});
		%>
		<div id="wrap" class="orientation-retrato page">
			<!-- HEADER -->
			<header>
				<div>
					<h1>Estatística de Setor / Posto - Relatório: Por Data</h1>
					<p><strong>Período:</strong><%=start%> a <%=end%></p>
					<p class="emissao"><strong>Emissão:</strong><%=now%></p>
					<p class="emissao"><strong>Operador:</strong><%=profile.nome%></p>
					<p class="emissao"><strong>Parte:</strong><%=data.parte%></p>
				</div>
                <div class="logotipo">
                    <img src=<%=logo%> alt="logo">
                </div>
			</header>
			<main class="c-main">
                <% for (const registro of data.registros) { %>
                    <h3 class="c-main__h3">Data de <%=data.tipoData%>: <%=registro.data%></h3>
                    <% for (const setor of registro.setores) { %>
                        <table class="c-table-coleta">
                            <caption>Setor: <%=setor.id%> - <%=setor.descricao%></caption>
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Descrição</th>
                                    <th>Qtd. Pacientes</th>
                                    <th>Qtd. Exames</th>
                                    <th>Total Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (const posto of setor.postos) {%>
                                    <tr>
                                        <td><%=posto.codigo%></td>
                                        <td><%=posto.descricao%></td>
                                        <td><%=posto.totalDePacientes%></td>
                                        <td><%=posto.totalDeExames%></td>
                                        <td><%=formatter.format(posto.totalDeValor)%></td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    <%}%>
                    <table class="c-table-resumo-do-dia">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Pacientes</th>
                                <th>Exames</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Resumo do dia: </td>
                                <td><%=registro.data%></td>
                                <td></td>
                                <td><%=registro.totais.exames%></td>
                                <td><%=formatter.format(registro.totais.valores)%></td>
                            </tr>
                        </tbody>
                    </table>
                <%}%>
                <% if (data.ehAUltimaParte === '1') { %>
                    <table class="c-table-resumo-geral">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Pacientes</th>
                                <th>Exames</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Resumo Geral da Estatística</td>
                                <td>Totais: </td>
                                <td><%=data.total.totpac%></td>
                                <td><%=data.total.totexa%></td>
                                <td><%=formatter.format(data.total.totvalor)%></td>
                            </tr>
                        </tbody>
                    </table>
                <%}%>
			</main>
	</body>

</html>
