
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Estatística de Setor / Posto </title>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
		<meta charset="utf-8" />
		<style>
				/** BASICA **/
				*, html {
				padding:0;
				margin:0;
			}
			html {
				font-family: 'Lato', Arial, sans-serif;
			}
			@media screen {
				body {
					display:flex; flex-direction:column;
					align-items: center;
					background-color: #ccc;
				}
				#wrap {
					background-color: #fff;
					padding: 50px;
					margin: 30px;
					box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
				}
				.orientation-retrato{width: 60%;}
				.orientation-paisagem{width: 80%;}
			}
			h1{
				font-weight: 900;
				color: <%= color  %>;
			}

			strong {
				font-weight: 700;
				font-size: 12px;
				color: #444;
			}
			p {
				font-weight: 400;
				font-size: 12px;
				color: #444;
				text-transform: capitalize;
			}
			.row {
				display:flex;
			}
			.column {
				display:flex;
				flex-direction: column;
			}
			/** HEADER **/
			header{
				display:flex;
				align-items:center;
				margin-bottom: 20px;
			}
			header div:first-child{
				flex:1
			}
			header h1 {
				font-size: 18px;
				text-transform: uppercase;
				margin-bottom: 3px;
			}
			header strong {
				margin-right: 3px;
				margin-bottom: 3px;
			}
			header p, header strong {
				font-size:15px;
			}
			.logotipo {
				padding-left:50px
			}
			.logotipo img{max-height: 40px;}
			@media screen {
				.logotipo img{max-height: 60px;}
			}
			/* CONTENT */
			@page {
				margin: 2cm;
			}
			.container {
				width: 100%;
			}

			.c-table-posto,
			.c-table-resumo-geral {
				width: 100%;
				border-collapse: collapse;
			}

			.c-table-resumo-do-dia {
				width: 100%;
				border-bottom: 1px solid <%= color %>;
				border-left: 1px solid <%= color %>;
				border-right: 1px solid <%= color %>;
			}

			.c-caption {
				font-weight: 900;
				margin: 15px 0;
				font-size: 15px;
				color: <%= color  %>;
                text-align: left;
			}

            table tr:nth-child(even) {
                background-color: lightgrey;
            }

            th, td {
				font-size: 12px;
				width: 20%;
				padding: 5px 10px;
                text-align: center;
			}

			th {
				margin-bottom: 10px;
                background-color: <%= color %>;
                color: #fff;
			}

            .c-table-resumo-geral {
                font-weight: 700;
            }

			td {
				font-size: 12px;
			}

			.c-main__h3 {
				color: <%= color  %>;
				margin: 25px auto;
			}

			.c-table-resumo-geral {
				margin-top: 20px;
			}

			.c-table-resumo-geral th, td {
				font-size: 12px;
			}

		</style>
	</head>

	<body>
		<%
			const formatter = new Intl.NumberFormat('pt-BR', {
				style: 'currency',
				currency: 'BRL',
			});
		%>
		<div id="wrap" class="orientation-retrato page">
			<!-- HEADER -->
			<header>
				<div>
					<h1>Estatística de Setor / Posto - Relatório: Geral</h1>
					<p><strong>Período:</strong><%=start%> a <%=end%></p>
					<p class="emissao"><strong>Emissão:</strong><%=now%></p>
                    <p class="emissao"><strong>Operador:</strong><%=profile.nome%></p>
				</div>
                <div class="logotipo">
                    <img src=<%=logo%> alt="logo">
                </div>
			</header>
			<main class="c-main">
                <% for (const registro of data.registros) {%>
                    <table class="c-table-posto">
                        <caption class="c-caption">Posto:<%=registro.id%> - <%=registro.descricao%></caption>
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descrição (Setor)</th>
                                <th>Pacientes</th>
                                <th>Exames</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (const setor of registro.setores) { %>
                                <tr>
                                    <td><%=setor.id%></td>
                                    <td><%=setor.descricao%></td>
                                    <td><%=setor.totalDePacientes%></td>
                                    <td><%=setor.totalDeExames%></td>
                                    <td><%=formatter.format(setor.totalDeValor)%></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                <%}%>
                <table class="c-table-resumo-geral">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Pacientes</th>
                            <th>Exames</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Resumo Geral da Estatística</td>
                            <td>Totais: </td>
                            <td><%=data.total.totpac%></td>
                            <td><%=data.total.totexa%></td>
                            <td><%=formatter.format(data.total.totvalor)%></td>
                        </tr>
                    </tbody>
                </table>
			</main>
	</body>

</html>
