<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Malote de Material</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
        <meta charset="utf-8" />
        <style>
        /** BASICA **/
        *, html {
        padding:0;
        margin:0;
        }
        html {
        font-family: 'Lato', Arial, sans-serif;
        }
        @media screen {
        body {
        display:flex; flex-direction:column;
        align-items: center;
        background-color: #ccc;
        }
        #wrap {
        background-color: #fff;
        padding: 50px;
        margin: 30px;
        box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
        }
        #loader{
            background-color: orangered;
        }
        .loader-hide {
            display:none;
        }
        .orientation-retrato{width: 60%;}
        .orientation-paisagem{width: 80%;}
        }
        h1, h2, h3, h4{
        font-weight: 900;
        }
        h1 {
        font-size: 15px;
        color: <%= color  %>;
        }
        h2 {
        font-size: 15px;
        color: <%= color  %>;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid <%= color  %>;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid <%= color  %>;
        text-transform: uppercase;
        }
        h3 {
        font-size: 12px;
        color: <%= color  %>;
        text-transform: uppercase;
        }
        strong {
        font-weight: 700;
        font-size: 12px;
        color: #444;
        }
        p {
        font-weight: 400;
        font-size: 12px;
        color: #444;
        text-transform: capitalize;
        }
        .row {
        display:flex;
        flex-direction: row;
        /* margin-bottom: 2px; */
        }
        /** HEADER **/
        header{
        display:flex;
        flex-direction: row;
        align-items:center;
        margin-bottom: 20px;
        }
        header div:first-child{
        flex:1
        }
        header h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 3px;
        }
        header strong {
        margin-right: 3px;
        }
        header strong {
        margin-bottom: 3px;
        }
        header p, header strong {
        font-size:15px;
        }
        .logotipo {
        padding-left:50px
        }
        .logotipo img{max-height: 40px;}
        @media screen {
            .logotipo img{max-height: 60px;}
        }
        /** CONTENT **/
        .plano {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            border-left: 5px solid <%= color  %>;
            padding: 15px;
        }
        .plano p, .plano strong {
            font-size:14px;
        }
        .data {
        padding-bottom: 20px;
        }
        .data-last-of-type {
        padding-bottom: 20px;
        }
        .cabecalho {
        display:flex;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 0px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #444;
        }
        .cabecalho h3 {
        color: #444;
        }
        .trans {
        display: flex;
        align-items: center;
        padding: 5px 0;
        border-bottom: 1px dotted #ccc;
        }
        .trans-last-of-type {
        padding: 5px 0;
        border-bottom: 0;
        margin-bottom: -10px;
        }
        .totalgeral {
        display:flex;
        align-items: center;
        padding-top: 10px;
        margin-top: 10px;
        border-top-width: 1px;
        border-top-style: dotted;
        border-top-color: #ccc;
        }
        .totalgeral h3 {
        color: #444;
        }
        .resumo {
        padding-top: 30px;
        padding-bottom: 30px;
        }
        .resumo h2 {
        margin-bottom: 0;
        }
        .totalizador{
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #ccc;
        }

        .totalizador:last-child {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px <%= color  %>;
        }

        .totalizador h4 {
        font-size: 13px;
        text-transform: uppercase;
        color: <%= color  %>;
        }

        .totalizador-valor {
        display: flex;
        }

        .totalizador-valor strong{
        display: flex;
        font-size: 13px;
        padding-right: 5px;
        }

        .totalizador-valor p{
        font-size: 13px;
        }
        .assinaturas {
        display:flex;
        }

        .nomes {
        display: flex;
        flex:1;
        flex-direction: column;
        align-items: center;
        margin:60px 30px 30px 30px;
        font-size: 13px;
        text-transform: uppercase;
        }

        .assinaturalinha {
        width: 100%;
        border-bottom: 1px solid #444;
        margin-bottom: 15px;
        }
        </style>
    </head>
    <body>
        <%if (size === 'retrato') { %>
        <div id="wrap" class="orientation-retrato">
        <% } else { %>
        <div id="wrap" class="orientation-paisagem">
        <% } %>
            <!-- HEADER -->
            <header>
                <div>
                    <h1>Malote de Material</h1>
                    <p><strong>Malote:</strong><%=data.malote%></p>
                    <p class="emissao"><strong>Emissão:</strong><%=now%></p>
                    <p class="operador"><strong>Operador:</strong><%=profile.nome%></p>
                </div>
                <%if (logo) { %>
                    <div class="logotipo">
                        <img src="<%= logo %>">
                    </div>
                <% } %>
            </header>
            <!-- HEADER -->
            <div class="row cabecalho">
                <div style="width: 8%">
                    <strong>Posto</strong>
                </div>
                <div style="width: 10%">
                    <strong>Amostra</strong>
                </div>
                <div style="width: 15%">
                    <strong>Tubo</strong>
                </div>
                <div style="width: 30%;">
                    <strong>Paciente</strong>
                </div>
                <div style="width: 15%;">
                    <strong>Material</strong>
                </div>
                <div style="width: 22%">
                    <strong>Recipiente</strong>
                </div>
            </div>
            <!-- TRASACOES -->
            <% data.coletas.forEach( (item,index,array) => {%>
                <% if (index === (array.length -1)) { %>
                    <div class="row trans-last-of-type">
                <% } else { %>
                    <div class="row trans">
                <% } %>
                <div style="width: 8%">
                    <p><%= item.posto.trim() %></p>
                </div>
                <div style="width: 10%">
                    <p><%= item.amostra.trim() %></p>
                </div>
                <div style="width: 15%">
                    <p><%= item.tubo.trim() %></p>
                </div>
                <div style="width: 30%">
                    <p><%= item.nome.trim() %></p>
                </div>
                <div style="width: 15%">
                    <p><%= item.descmat.trim() %></p>
                </div>
                <div style="width: 22%">
                    <p><%= item.descreciptri.trim() %></p>
                </div>
            </div>
            <% });%>
            <!-- TRASACOES -->
            <!-- RESUMO GERAL -->
            <div class="resumo">
                <h2>Recipiente</h2>
                <% data.reciptri.forEach( (item,index,array) => {%>
                    <div class="totalizador">
                        <div class="totalizador-valor">
                            <strong><%= item.desc %>:</strong>
                            <p><%= item.qtde %></p>
                        </div>
                    </div>
                <% });%>
                <div class="totalizador">
                    <div class="totalizador-valor">
                        <strong>Total de Tubos:</strong>
                        <p><%= data.qtdtubos %></p>
                    </div>
                </div>
            </div>
            <!-- RESUMO GERAL -->
        </div>
    </body>
</html>
