<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Relatório de Extrato Bancário</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
        <meta charset="utf-8" />
        <style>
        /** BASICA **/
        *, html {
        padding:0;
        margin:0;
        }
        html {
        font-family: 'Lato', Arial, sans-serif;
        }
        @media screen {
        body {
        display:flex; flex-direction:column;
        align-items: center;
        background-color: #ccc;
        }
        #wrap {
        background-color: #fff;
        padding: 50px;
        margin: 30px;
        box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
        }
        #loader{
            background-color: orangered;
        }
        .loader-hide {
            display:none;
        }
        .orientation-retrato{width: 60%;}
        .orientation-paisagem{width: 80%;}
        }
        h1, h2, h3, h4{
        font-weight: 900;
        }
        h1 {
        font-size: 15px;
        color: <%= color  %>;
        }
        h2 {
        font-size: 15px;
        color: <%= color  %>;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid <%= color  %>;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid <%= color  %>;
        text-transform: uppercase;
        }
        h3 {
        font-size: 12px;
        color: <%= color  %>;
        text-transform: uppercase;
        }
        strong {
        font-weight: 700;
        font-size: 12px;
        color: #444;
        }
        p {
        font-weight: 400;
        font-size: 12px;
        color: #444;
        text-transform: capitalize;
        }
        .row {
        display:flex;
        flex-direction: row;
        /* margin-bottom: 2px; */
        }
        /** HEADER **/
        header{
        display:flex;
        flex-direction: row;
        align-items:center;
        margin-bottom: 20px;
        }
        header div:first-child{
        flex:1
        }
        header h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 3px;
        }
        header strong {
        margin-right: 3px;
        }
        header strong {
        margin-bottom: 3px;
        }
        header p, header strong {
        font-size:15px;
        }
        .logotipo {
        padding-left:50px
        }
        .logotipo img{max-height: 40px;}
        @media screen {
            .logotipo img{max-height: 60px;}
        }
        /** CONTENT **/
        .conta {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
        }
        .conta p, .conta strong {
            font-size:14px;
        }
        .data {
        padding-bottom: 20px;
        }
        .data-last-of-type {
        padding-bottom: 20px;
        }
        .cabecalho {
        display:flex;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 0px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #444;
        }
        .cabecalho h3 {
        color: #444;
        }
        .trans {
        display: flex;
        align-items: center;
        padding: 5px 0;
        border-bottom: 1px dotted #ccc;
        }
        .trans-last-of-type {
        padding: 5px 0;
        border-bottom: 0;
        margin-bottom: -10px;
        }
        .totalgeral {
        display:flex;
        align-items: center;
        padding-top: 10px;
        margin-top: 10px;
        border-top-width: 1px;
        border-top-style: dotted;
        border-top-color: #ccc;
        }
        .totalgeral h3 {
        color: #444;
        }
        .resumo {
        padding-bottom: 30px;
        }
        .resumo h2 {
        margin-bottom: 0;
        }
        .totalizador{
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #ccc;
        }

        .totalizador:last-child {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px <%= color  %>;
        }

        .totalizador h4 {
        font-size: 13px;
        text-transform: uppercase;
        color: <%= color  %>;
        }

        .totalizador-valor {
        display: flex;
        padding-left: 10px;
        }

        .totalizador-valor strong{
        display: flex;
        font-size: 13px;
        padding-right: 5px;
        }

        .totalizador-valor p{
        font-size: 13px;
        }
        .debito {
            color: red !important;
        }
        .credito {
            color: green !important;
        }
        </style>
    </head>
    <body>
        <%if (size === 'retrato') { %>
        <div id="wrap" class="orientation-retrato">
        <% } else { %>
        <div id="wrap" class="orientation-paisagem">
        <% } %>
            <!-- HEADER -->
            <header>
                <div>
                    <h1>Relatório de Extrato Bancário</h1>
                    <p><strong>Período:</strong><%=start%> a <%=end%></p>
                    <p class="emissao"><strong>Emissão:</strong><%=now%></p>
                    <p class="operador"><strong>Operador:</strong><%=profile.nome%></p>
                </div>
                <%if (logo) { %>
                    <div class="logotipo">
                        <img src="<%= logo %>">
                    </div>
                <% } %>
            </header>
            <!-- HEADER -->
            <!-- CONTA -->
            <div class="row conta">
                <div style="width: 35%">
                    <p><strong>Banco:</strong> <%=data.curcontas.id%> - <%=data.curcontas.descricao.trim()%></p>
                    <p><strong>Agência:</strong> <%=data.curcontas.agencia.trim()%></p>
                </div>
                <div style="width: 35%">
                    <p><strong>Limite:</strong> R$ <%=parseFloat(data.curcontas.limite).toLocaleString('pt-br', {minimumFractionDigits: 2})%></p>
                    <p><strong>Conta:</strong> <%=data.curcontas.conta.trim()%></p>
                </div>
                <div style="width: 30%">
                    <p><strong>Saldo Inicial:</strong> R$ <%=parseFloat(data.saldoini).toLocaleString('pt-br', {minimumFractionDigits: 2})%></p>
                </div>
            </div>
            <!-- CONTA -->
            <!-- EXTRTO -->
            <% data.extrato.forEach( (item,index,array) => {%>
                <% if (index === (array.length -1)) { %>
                <div class="data-last-of-type">
                <% } else { %>
                <div class="data">
                <% } %>
                <h2>Data: <%= item.data %></h2>
                <div class="row cabecalho">
                    <div style="width: 40%">
                        <strong>Histórico</strong>
                    </div>
                    <div style="width: 7%">
                        <strong>Parcela</strong>
                    </div>
                    <div style="width: 10%">
                        <strong>No. Cheque</strong>
                    </div>
                    <div style="width: 20%">
                        <strong>Forma Pag./Rec.</strong>
                    </div>
                    <div style="width: 10%">
                        <strong>Débito</strong>
                    </div>
                    <div style="width: 10%">
                        <strong>Crédito</strong>
                    </div>
                    <div style="width: 3%"></div>
                </div>
                <!-- TRASACOES -->
                <% item.transacoes.forEach( (trans,index,array) => {%>
                    <% if (index === (array.length -1)) { %>
                        <div class="row trans-last-of-type">
                    <% } else { %>
                        <div class="row trans">
                    <% } %>
                    <div style="width: 40%">
                        <p>
                            <%= trans.descricao.trim() %>
                            <% if(trans.obs !== null) {%>
                                <%= trans.obs %>
                            <%} %>
                        </p>
                    </div>
                    <div style="width: 7%">
                        <p><%= trans.parcela %></p>
                    </div>
                    <div style="width: 10%">
                        <p><%= trans.nunche %></p>
                    </div>
                    <div style="width: 20%">
                        <p><%= trans.tippag %></p>
                    </div>
                    <div style="width: 10%;">
                        <% if (trans.tipo !== 2) { %>
                            <p class="debito">R$ <%= parseFloat(trans.valpag).toLocaleString('pt-br', {minimumFractionDigits: 2}) %></p>
                        <% } %>
                    </div>
                    <div style="width: 10%;">
                        <% if (trans.tipo === 2) { %>
                            <p class="credito">R$ <%= parseFloat(trans.valpag).toLocaleString('pt-br', {minimumFractionDigits: 2}) %></p>
                        <% } %>
                    </div>
                    <div style="width: 3%; text-align: center;">
                        <% if (trans.tipo === 2) { %>
                            <p class="credito">C</p>
                            <% } else { %>
                            <p class="debito">D</p>
                        <% } %>
                    </div>
                </div>
                <% });%>
                <!-- SUB TOTAL -->
                <div class="row totalgeral">
                    <div style="width:77%">
                        <h3>Total Débito e Crédito</h3>
                    </div>
                    <div style="width:10%">
                        <strong class="debito">R$ <%= parseFloat(item.totpag).toLocaleString('pt-br', {minimumFractionDigits: 2}) %></strong>
                    </div>
                    <div style="width:10%">
                        <strong class="credito">R$ <%= parseFloat(item.totrec).toLocaleString('pt-br', {minimumFractionDigits: 2}) %></strong>
                    </div>
                </div>
                <div class="row totalgeral">
                    <div style="width: 77%">
                        <h3>Saldo Sem limite</h3>
                    </div>
                    <div style="width: 20%;">
                        <p>R$ <%= parseFloat(item.saldodia).toLocaleString('pt-br', {minimumFractionDigits: 2}) %></p>
                    </div>
                </div>
                <!-- SUB TOTAL -->
                <!-- TRASACOES -->
                </div>
            <% }); %>
            <!-- EXTRTO -->
            <!-- RESUMO -->
            <div class="resumo">
                <h2>Resumo Geral Relatório de Extrato Bancário</h2>
                <div class="totalizador">
                    <h4>Transações</h4>
                    <div class="totalizador-valor">
                        <strong>Total Débitos</strong>
                        <p class="negativo">R$ <%= parseFloat(data.totab).toLocaleString('pt-br', {minimumFractionDigits: 2}) %></p>
                    </div>
                    <div class="totalizador-valor">
                        <strong>Total Créditos</strong>
                        <p class="positivo">R$ <%= parseFloat(data.totfc).toLocaleString('pt-br', {minimumFractionDigits: 2}) %></p>
                    </div>
                </div>
                <div class="totalizador">
                    <h4>Saldos</h4>
                    <div class="totalizador-valor">
                        <strong>Saldo Total</strong>
                        <p>R$ <%= parseFloat(data.saldototal).toLocaleString('pt-br', {minimumFractionDigits: 2}) %></p>
                    </div>
                    <div class="totalizador-valor">
                        <strong>Limite</strong>
                        <p>R$ <%= parseFloat(data.limite).toLocaleString('pt-br', {minimumFractionDigits: 2}) %></p>
                    </div>
                    <div class="totalizador-valor">
                        <strong>Limite + Saldo</strong>
                        <p>R$ <%= parseFloat(data.limetesaldo).toLocaleString('pt-br', {minimumFractionDigits: 2}) %></p>
                    </div>
                    <div class="totalizador-valor">
                        <strong>Saldo Atual</strong>
                        <p>R$ <%= parseFloat(data.saldototal).toLocaleString('pt-br', {minimumFractionDigits: 2}) %></p>
                    </div>
                </div>
            </div>
            <!-- RESUMO -->
        </div>
    </body>
</html>
