<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Fechamento de Caixa Sintético por Posto Geral</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
        <meta charset="utf-8" />
        <style>
        /** BASICA **/
        *, html {
        padding:0;
        margin:0;
        }
        html {
        font-family: 'Lato', Arial, sans-serif;
        }
        @media screen {
        body {
        display:flex; flex-direction:column;
        align-items: center;
        background-color: #ccc;
        }
        #wrap {
        background-color: #fff;
        padding: 50px;
        margin: 30px;
        box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
        }
        #loader{
            background-color: orangered;
        }
        .loader-hide {
            display:none;
        }
        .orientation-retrato{width: 60%;}
        .orientation-paisagem{width: 80%;}
        }
        h1, h2, h3, h4{
        font-weight: 900;
        }
        h1 {
        font-size: 15px;
        color: <%= color  %>;
        }
        h2 {
        font-size: 15px;
        color: <%= color  %>;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid <%= color  %>;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid <%= color  %>;
        text-transform: uppercase;
        }
        h3 {
        font-size: 12px;
        color: <%= color  %>;
        text-transform: uppercase;
        }
        strong {
        font-weight: 700;
        font-size: 12px;
        color: #444;
        }
        p {
        font-weight: 400;
        font-size: 12px;
        color: #444;
        text-transform: capitalize;
        }
        .row {
        display:flex;
        flex-direction: row;
        /* margin-bottom: 2px; */
        }
        /** HEADER **/
        header{
        display:flex;
        flex-direction: row;
        align-items:center;
        margin-bottom: 20px;
        }
        header div:first-child{
        flex:1
        }
        header h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 3px;
        }
        header strong {
        margin-right: 3px;
        }
        header strong {
        margin-bottom: 3px;
        }
        header p, header strong {
        font-size:15px;
        }
        .logotipo {
        padding-left:50px
        }
        .logotipo img{max-height: 40px;}
        @media screen {
            .logotipo img{max-height: 60px;}
        }
        /** CONTENT **/
        .posto {
        padding-bottom: 20px;
        }
        .cabecalho {
        display:flex;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #444;
        }
        .cabecalho h3 {
        color: #444;
        }
        .totalgeral {
        display:flex;
        padding-top: 10px;
        margin-top: 10px;
        border-top-width: 1px;
        border-top-style: dotted;
        border-top-color: #ccc;
        }
        .resumo {
        padding-bottom: 30px;
        }
        .resumo h2 {
        margin-bottom: 0;
        }
        .totalizador{
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #ccc;
        }

        .totalizador:last-child {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px <%= color  %>;
        }

        .totalizador h4 {
        font-size: 13px;
        text-transform: uppercase;
        color: <%= color  %>;
        }

        .totalizador-valor {
        display: flex;
        padding-left: 10px;
        }

        .totalizador-valor strong{
        display: flex;
        font-size: 13px;
        padding-right: 5px;
        }

        .totalizador-valor p{
        font-size: 13px;
        }
        </style>
    </head>
    <body>
        <%if (size === 'retrato') { %>
        <div id="wrap" class="orientation-retrato">
        <% } else { %>
        <div id="wrap" class="orientation-paisagem">
        <% } %>
            <!-- HEADER -->
            <header>
                <div>
                    <h1>Fechamento de Caixa Sintético por Posto Geral</h1>
                    <p><strong>Período:</strong><%=start%> a <%=end%></p>
                    <p class="emissao"><strong>Emissão:</strong><%=now%></p>
                    <p class="operador"><strong>Operador:</strong><%=profile.nome%></p>
                </div>
                <%if (logo) { %>
                    <div class="logotipo">
                        <img src="<%= logo %>">
                    </div>
                <% } %>
            </header>
            <!-- HEADER -->
            <!-- HTML -->
            <% data.dados.forEach( (item,index,array) => {%>
                <div class="posto">
                    <h2>Posto <%= item.posto %> - <%= item.postonome %></h2>
                    <div class="row cabecalho">
                        <div style="width: 5%">
                            <strong>Caixa</strong>
                        </div>
                        <div style="width: 18%"">
                            <strong>Operador</strong>
                        </div>
                        <div style="width: 12%"">
                            <strong>Data</strong>
                        </div>
                        <div style="width: 10.71%"">
                            <strong>Situação</strong>
                        </div>
                        <div style="width: 10.71%"">
                            <strong>Dinheiro</strong>
                        </div>
                        <div style="width: 10.71%"">
                            <strong>Ch. a Vista</strong>
                        </div>
                        <div style="width: 10.71%"">
                            <strong>C. Débito</strong>
                        </div>
                        <div style="width: 10.71%"">
                            <strong>C. Crédito</strong>
                        </div>
                        <div style="width: 10.71%"">
                            <strong>Ch. a Prazo</strong>
                        </div>
                        <div style="width: 10.71%"">
                            <strong>Outros</strong>
                        </div>
                    </div>
                    <% item.caixas.forEach( (movcai,index,array) => {%>
                        <div class="row">
                            <div style="width: 5%">
                                <p><%= movcai.caixa_id %></p>
                            </div>
                            <div style="width: 18%"">
                                <p><%= movcai.nome.trim() %></p>
                            </div>
                            <div style="width: 12%"">
                                <p><%= movcai.datcai %></p>
                            </div>
                            <div style="width: 10.71%"">
                                <%if (movcai.sitcai === 'A') { %>
                                <p>Aberto</p>
                                <% } else { %>
                                <p>Fechado</p>
                                <% } %>
                            </div>
                            <div style="width: 10.71%"">
                                <p>R$ <%= parseFloat(movcai.dinheiro).toFixed(2) %></p>
                            </div>
                            <div style="width: 10.71%"">
                                <p>R$ <%= parseFloat(movcai.ch_vista).toFixed(2) %></p>
                            </div>
                            <div style="width: 10.71%"">
                                <p>R$ <%= parseFloat(movcai.ct_deb).toFixed(2) %></p>
                            </div>
                            <div style="width: 10.71%"">
                                <p>R$ <%= parseFloat(movcai.ct_cred).toFixed(2) %></p>
                            </div>
                            <div style="width: 10.71%"">
                                <p>R$ <%= parseFloat(movcai.ch_prazo).toFixed(2) %></p>
                            </div>
                            <div style="width: 10.71%"">
                                <p>R$ <%= parseFloat(movcai.outros).toFixed(2) %></p>
                            </div>
                        </div>
                    <% }); %>
                    <div class="row totalgeral">
                        <div style="width:45.71%">
                            <h3>TOTAL GERAL</h3>
                        </div>
                        <div style="width:10.71%">
                            <strong>R$ <%= item.dinheiro.toFixed(2) %></strong>
                        </div>
                        <div style="width:10.71%">
                            <strong>R$ <%= item.ch_vista.toFixed(2) %></strong>
                        </div>
                        <div style="width:10.71%">
                            <strong>R$ <%= item.ct_deb.toFixed(2) %></strong>
                        </div>
                        <div style="width:10.71%">
                            <strong>R$ <%= item.ct_cred.toFixed(2) %></strong>
                        </div>
                        <div style="width:10.71%">
                            <strong>R$ <%= item.ch_prazo.toFixed(2) %></strong>
                        </div>
                        <div style="width:10.71%">
                            <strong>R$ <%= item.outros.toFixed(2) %></strong>
                        </div>
                    </div>
                </div>
            <% }); %>
            <!-- HTML -->
            <div class="resumo">
                <h2>Resumo Geral Fechamento de Caixa Sintético por Posto Geral</h2>
                <div class="totalizador">
                    <h4>Dinheiro</h4>
                    <div class="totalizador-valor">
                        <strong>Exames</strong>
                        <p>R$ <%=parseFloat(data.dados[0].totalgeral.dinheiro).toFixed(2)%></p>
                    </div>
                    <div class="totalizador-valor">
                        <strong>Entradas</strong>
                        <p>R$ <%=parseFloat(data.dados[0].totentradassaidas.totentradas).toFixed(2)%></p>
                    </div>
                    <div class="totalizador-valor">
                        <strong>Saidas</strong>
                        <p>R$ <%=parseFloat(data.dados[0].totentradassaidas.totsaidas).toFixed(2)%></p>
                    </div>
                    <div class="totalizador-valor">
                        <strong>Total</strong>
                        <p>R$ <%= (
                            parseFloat(data.dados[0].totalgeral.dinheiro) +
                            parseFloat(data.dados[0].totentradassaidas.totentradas) -
                            parseFloat(data.dados[0].totentradassaidas.totsaidas)
                            ).toFixed(2)  %></p>
                    </div>
                </div>
                <div class="totalizador">
                    <h4>A vista</h4>
                    <div class="totalizador-valor">
                        <strong>Cheque a vista</strong>
                        <p>R$ <%=parseFloat(data.dados[0].totalgeral.ch_vista).toFixed(2)%></p>
                    </div>
                </div>
                <div class="totalizador">
                    <h4>A Prazo</h4>
                    <div class="totalizador-valor">
                        <strong>Cartão Déb.</strong>
                        <p>R$ <%=parseFloat(data.dados[0].totalgeral.ct_deb).toFixed(2)%></p>
                    </div>
                    <div class="totalizador-valor">
                        <strong>Cartão Créd.</strong>
                        <p>R$ <%=parseFloat(data.dados[0].totalgeral.ct_cred).toFixed(2)%></p>
                    </div>
                    <div class="totalizador-valor">
                        <strong>Ch. Prazo</strong>
                        <p>R$ <%=parseFloat(data.dados[0].totalgeral.ch_prazo).toFixed(2)%></p>
                    </div>
                    <div class="totalizador-valor">
                        <strong>Outros</strong>
                        <p>R$ <%=parseFloat(data.dados[0].totalgeral.outros).toFixed(2)%></p>
                    </div>
                </div>
              </div>
        </div>
    </body>
</html>
