  <table style="width:600px;font-family:'lato',Tahoma,sans-serif" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
      <td align="center" style="background:#009540;padding:30px;color:#FFFFFF">
        <h3>COMUNICADO IMPORTANTE</h3>
      </td>
    </tr>
    <tr>
      <td style="padding: 30px;">
        <p>Prezado Cliente: <b style="color:#009540;">{{ username }}</b> tudo bem?</p>
        <p>Hoje {{ date }}<br><br>
        <p>Foi criado um novo agendamento, confira os detalhes abaixo</p>
        <b style="color:#009540;">Data: </b><br><i style="font-size:14px;"> {{ datacoleta }}</i></p>
        <b style="color:#009540;">No. Pre-Agendamento: </b><br><i style="font-size:14px;"> {{ preagendado_id }}</i></p>
        <b style="color:#009540;">No. Orcamento: </b><br><i style="font-size:14px;"> {{ orcamento_id }}</i></p>
      </td>
    </tr>
    <tr>
      <td align="center" style="background:#009540;padding:30px;color:#FFFFFF">
        <h3>Apresente estes dados na recepcao e agilize seu atendimento, nao esqueca de acessar seu app e verificar o preparo de seu exame.</h3>
        <p><b><a style="color:#FFFFFF;" href="https://www.softeasy.com.br">www.softeasy.com.br</a></b></p>
      </td>
    </tr>
  </table>
